.summary {
  width: 100%;
  height: 30vh;
  background-image: linear-gradient(to bottom left, #00c2ff, #0083b0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.summary h1 {
  margin: 0;
  font-size: 3rem;
  text-align: center;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  color: white;
  letter-spacing: 2px;
}

@media (min-width: 768px) {
  .summary h1 {
    font-size: 5rem;
  }
}
