.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.list-item {
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.list-item:hover {
  transform: scale(1.05);
}

.list-item img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.list-item .content {
  padding: 1rem;
}

.list-item h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.list-item .date,
.list-item .address {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.list-item .date time {
  font-size: 1.1rem;
  font-weight: bold;
  margin-left: 0.5rem;
}

.list-item .address address {
  font-size: 1.1rem;
  margin-left: 0.5rem;
}

.list-item .explore {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.list-item .explore span:first-of-type {
  margin-right: 0.5rem;
}
