.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  text-align: center;
}

.results-title h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .title {
    flex-direction: row;
    justify-content: space-between;
  }
}
