.notification {
  width: 100%;
  max-width: 40rem;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.success {
  background-color: #43a047;
  color: white;
}

.error {
  background-color: #e53935;
  color: white;
}

.pending {
  background-color: #ffa000;
  color: white;
}

.notification:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
